# SPDX-FileCopyrightText: Copyright 2025 The Minder Authors
# SPDX-License-Identifier: Apache-2.0

name: Pull request validation

on:
  pull_request:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Setup Node
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm ci

      - name: Build site
        run: npm run prod
